# 爬虫
Scrapy==2.11.2
scrapy-user-agents==0.1.1

# 数据处理
pyspark==3.5.1
pandas==2.2.2
numpy==1.26.4

# 数据库驱动
mysql-connector-python==8.4.0
PyHive==0.7.2
thrift==0.20.0
thrift-sasl==0.4.3
sasl==0.3.1

# 工具
PyYAML==6.0.1
python-dotenv==1.0.1
requests==2.32.3